<app-navbar></app-navbar>
<div style="padding:2%">
  <div class="row justify-content-md-center">
    <div class="col-lg-2 col-md-2 orderList">
      <div class="w3-bar w3-blue">
        <button class="w3-bar-item w3-button" routerLink="app-order-list"> ORDERS</button>
    </div>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12">
      <div class="w3-bar w3-teal">
        <button class="w3-bar-item w3-button active" routerLink="/">PRODUCTS</button>
        <button class="w3-bar-item w3-button" routerLink="/store">STORES</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12 orderList" style="padding: 2%;">
      <app-order-list></app-order-list>
    </div>

    <div class="align-self-end col-lg-10 col-md-10 col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>