<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-12" style="padding:2% 5%;min-height: 250px;max-height: 250px;"
    *ngFor="let product of products  | sorting:'name'; let num = index" (click)=selectedProduct(product)>
    <div class="w3-container w3-center">
      <div class="w3-card-4" style="width:auto">
        <img src="{{product.image_url}}" alt="{{product.name}}" style="width:100px;max-height: 100px;">
        <div class="w3-container" style="text-align: left;">
          <p>{{product.name}}</p>
          <p style="opacity:0.6">Brand Name :{{product.brand_name}}</p>
        </div>
      </div>
    </div>
  </div>
</div>